.leaflet-control-level-buttons-panel {
	font-weight: bold;
}

.leaflet-control-level-buttons-panel-a {
	line-height: 1.8;
}

.leaflet-control-level-buttons-span{
    font-size: 25px;
    padding: 1px;
    background-color: white;
}
